$bg-color: #000;
$text-color: lightgrey;
$link-color: lightblue;

body,
html {
  background-color: $bg-color;
  color: $text-color;
  height: 100%;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color, 10%);
  }
}
